@charset "utf-8";
.cleaner{ clear:both;}

body {margin: 0 0;}


div.contenedor {
	width:100%;
	height: 700px;
	max-width:640px;
	position:relative;}

/*--------- CABEZAL --------*/

div.contenedor header{
	width:100%;
	border-bottom:1px solid #dadada;
	border-top:1px solid #dadada;
}

div.contenedor header h1{
	width:100%;
	font-family: 'suecaslabmedium', Georgia,serif;
	font-size:18px;
	color:#000;
	margin:5px;
}

div.contenedor header p.bajada{
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#787878;
	margin:0px 5px;
	margin-bottom: 10px;
	font-weight:100;
}

/*--------- CONTENIDOS --------*/

div.contenedor div.contenido{
	width:100%;
	position:relative;
	overflow: hidden;
}

/*--------- FOOTER --------*/

div.contenedor footer{
	width:100%; 
	height:34px; 
	background-color:#fff; 
	border-top:1px solid #dadada; 
	font-family:Arial, Helvetica, sans-serif; 
	text-align: left;
	color:#787878;
	font-size:12px;
	padding:10px 0px;
}

footer a{
	text-decoration: none;
}

div.fotoCato{
	float: left;
	background-image: url("../img/francisco.jpg");
	background-position: -20px -10px;
	height: 500px;
	width: 250px;
}

div.fotoOrto{
	float: left;
	background-image: url("../img/cirilo.jpg");
	background-position: -20px -10px;
	height: 500px;
	width: 250px;
}

div.textoCato, div.textoOrto{
	float: right;
	width: 59%;
	height: 500px;
}

div.textoCato p, div.textoOrto p{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}

span.titulos{
	font-size: 14px;
	font-family: 'suecaslabmedium', Georgia,serif;
	font-weight: bold;
	color: rgb(0,132,181);
}

/*SWITCHER*/

div.contenido .switcher{
    /* padding-top: 20px; */
    width: 220px;
    height: 35px;
    margin: 15px auto;
    padding: 0px 10px;
    font-family: 'suecaslabmedium', Georgia, serif;
    font-size: 13px;
    border-radius: 60px;
    border:1px solid #dadada;
    position: relative;
}

div.contenido .switcher::before{
    content: "";
    width: 120px;
    height: 31px;
    background-color: rgba(74,189,216,.3);
    border-radius: 60px;
    position: absolute;
    top: 1px;
    left: 1px;
    border:1px solid #fff;
    z-index: 10;
    transition: all 0.3s;
}

div.contenido .switcher.der::before{
    left:117px;
}

.bt{
    width: 120px;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 0px;
    z-index: 20;
    color: #9E9E9E;
}

#btOrto {
    left: 120px;
}

.activo{
    color: #000;
}
