@media (max-width: 1150px) {
	
	
	hr.div {}
	#map_container #svg  {
		width: 90%;
		margin-left: 0;
		/*height: auto;*/
	}
	/*#map_container #svg svg {position: static;}*/

	div.wrapper_overlay {
	    padding-left: 6px;
	}
	article#map_container {
		width:67%;
	} 
	article#overlay {
		width: 31%;
   	    padding-right: 15px;
	}
	
	#overlay_ul .above_bar {
		width:185%;	
	}

	body.zoom_on ul#vistas_mapa { left: -200px;}
	
	div#res_total div > div {
	    width: 47%;
	    line-height: 1.4;
	}

	div.mesas_esc{
		border-right:0px !important;
	}	

	div#filtros_ganadores {
	    width: 83px;
	}

	#filtros_ganadores div.btn_filt {
	    width: 80%;
	}

	.compartir {
	    width: 75%;
	    padding: 13px 10%;
	}

	.compartir div.share{
		 margin-top: 5px;
	}


	.content_slider .slider {
	    width: 60%;
	    padding: 0px 8%;
	}



}

